<div class="vh-100 d-flex justify-content-start align-items-stretch">
    <app-navbar></app-navbar>

    <div class="bg-light flex-fill p-5  overflow-auto">
        <div class="bg-white border border-light">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-cal-tab" data-bs-toggle="tab" data-bs-target="#nav-cal" type="button" role="tab" aria-controls="nav-cal" aria-selected="true">Calendrier de rendez-vous</button>
                    <button class="nav-link" id="nav-list-tab" data-bs-toggle="tab" data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-list" aria-selected="false">Liste de rendez-vous</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-cal" role="tabpanel" aria-labelledby="nav-cal-tab">
                    <div class="modal fade {{ showModal }}" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Rendez-vous</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
                                </div>
                                <div class="modal-body bg-light">
                                    <app-rdv-card [rdv]=selectedRdv></app-rdv-card>
                                </div>
                                <!-- <div class="modal-footer">
                                    
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <full-calendar [options]="calendarOptions" ></full-calendar>
                </div>
                <div class="tab-pane fade" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
                    <div class="py-2">
                        <form class="px-2" (ngSubmit)="findRdv()">
                            <div class="row">
                                <div class="col">
                                    <input class="col-2 form-control form-control-sm" [(ngModel)]="rendezVousSearch.nomClient" name="nomClient" type="text" placeholder="Nom client" aria-label="Nom client">
                                </div>
                                <div class="col">
                                    <input class="col-2 form-control form-control-sm" [(ngModel)]="rendezVousSearch.prenomClient" name="prenomClient" type="text" placeholder="Prenom client" aria-label="Nom client">
                                </div>
                                <div class="col">
                                    <input class="col-2 form-control form-control-sm" [(ngModel)]="rendezVousSearch._date" name="_date" type="datetime-local" placeholder="Date" aria-label="Date">
                                </div>
                                <div class="col">
                                    <input class="col-2 form-control btn-sm btn btn-primary" type="submit" value="Rechercher" aria-label="Rechercher">
                                </div>
                            </div>
                            <div class="my-2">
                                <p>
                                    <a class="btn btn-sm btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Plus de filtre
                                    </a>
                                    <a class="btn btn-sm mx-2 btn-primary" (click)="resetFilter()" role="button">
                                        Reset
                                    </a>
                                </p>
                                <div class="collapse" id="collapseExample">
                                    <div class="row">
                                        <div class="col">
                                            <label>Date debut</label>
                                            <input class="col-2 form-control form-control-sm" [(ngModel)]="rendezVousSearch.datedebut" name="datedebut" type="datetime-local" placeholder="Date" aria-label="Date">
                                        </div>
                                        <div class="col">
                                            <label>Date fin</label>
                                            <input class="col-2 form-control form-control-sm" [(ngModel)]="rendezVousSearch.datefin" name="datefin" type="datetime-local" placeholder="Date" aria-label="Date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="px-2">
                        <app-rdv-card  *ngFor="let rv of rendezVous" [rdv]=rv></app-rdv-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
