<div class="vh-100 bg-white p-5 border border-light d-flex flex-column justify-content-between ">
    <div class="fw-bold">
        <h3>{{this.user.user.nom}}</h3>
        <p class="text-muted">{{this.user.typeUser}}</p>
    </div>
    <div *ngIf="this.user.typeUser == 'Employe'" class="flex-fill">
        <ul class="fw-bold">
            <li><a href="/employe/profile">Profile</a></li>
            <li><a href="/employe/rendezvous">Rendez-vous</a></li>
            <li><a href="/employe/suividetache">Suivi des tâches</a></li>
        </ul>
    </div>
    <div *ngIf="this.user.typeUser == 'Manager'" class="flex-fill">
        <ul class="fw-bold">
            <li><a href="/manager/profile">Profile</a></li>
            <li><a href="/manager/statistiques">Statistiques</a></li>
            <li><a href="/manager/gestionemploye">Employés</a></li>
            <li><a href="/manager/gestionservices">Services</a></li>
        </ul>
    </div>
    <div>
        <ul class="fw-bold">
            <li><a role="button" (click)="logOut()">Se déconnecter</a></li>
        </ul>
    </div>
</div>