<div id="header-menu">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse menu-navbar" id="navbar-left">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
    
                    <li class="nav-item">
                        <a class="nav-link" href="">Accueil</a>
                    </li>

                    <li>
                        <a class="nav-link"  [routerLink]="['/client/prise-rende-vous']">Prendre un rendez-vous</a>
                    </li>

                    <li>
                        <a class="nav-link"  [routerLink]="['/client/historique']">Mes rendez-vous</a>
                    </li>
                </ul>

                <div class="d-flex" id="navbar-right" *ngIf="tokenExpire === true">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Connexion Personnel
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/employe/login">Se connecter en tant qu'employé</a></li>
                                <li><a class="dropdown-item" href="/manager/login">Se connecter en tant que manager</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" [routerLink]="['/client/inscription']">S'inscrire</a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/client/login']">Se connecter</a>
                        </li>
                    </ul>
                </div>


                <div class="d-flex" id="navbar-right" *ngIf="tokenExpire === false">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Connexion Personnel
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/employe/login">Se connecter en tant qu'employé</a></li>
                                <li><a class="dropdown-item" href="/manager/login">Se connecter en tant que manager</a></li>
                            </ul>
                        </li>
                        
                        <li class="nav-item">
                            <span class="nav-link active">{{this.user.user.nom}} {{this.user.user.prenom}}</span>
                        </li>
                    
                        <li class="nav-item">
                            <a class="nav-link" (click)="Deconnect()">Deconnecter</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</div>