<div class="vh-100 d-flex justify-content-start align-items-stretch">
    <app-navbar></app-navbar>

    <div class="bg-light flex-fill overflow-auto">
        <div class="bg-muted py-5">
            <div class="px-2">
                <div class="bg-white border border-light p-2">
                    <h1>Service</h1>
                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#ajoutEmp" (click)="resetEmpForm()">
                            Ajouter nouveau service
                    </button>
                    <div class="py-2">
                        <form (ngSubmit)="findService()">
                            <div class="row">
                                <div class="col-6 mb-1">
                                    <input class="col-2 form-control form-control-sm" [(ngModel)]="serviceSearch.nom" name="nom" type="text" placeholder="Nom" aria-label="Nom client">
                                </div>
                                <div class="col-6 mb-1">
                                    <input class="col-2 form-control form-control-sm" [(ngModel)]="serviceSearch.duree" name="duree" type="number" placeholder="Duree" aria-label="Date">
                                </div>
                                <div class="col-6 mb-1">
                                    <input class="col-2 form-control form-control-sm" [(ngModel)]="serviceSearch.commission" name="commission" type="number" placeholder="Commission" aria-label="Date">
                                </div>
                                <div class="col-6 mb-1">
                                    <input class="col-2 form-control form-control-sm" [(ngModel)]="serviceSearch.prixMin" name="prixMin" type="number" placeholder="Prix min" aria-label="Date">
                                </div>
                                <div class="col-6 mb-1">
                                    <input class="col-2 form-control form-control-sm" [(ngModel)]="serviceSearch.prixMax" name="prixMax" type="number" placeholder="Prix max" aria-label="Date">
                                </div>
                                <div class="col-6 mb-1">
                                    <input class="col-2 form-control btn-sm btn btn-primary" type="submit" value="Rechercher" aria-label="Rechercher">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="my-3 px-2">
                <div class="bg-white border border-light p-2 overflow-scroll">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Duree</th>
                                <th>Prix</th>
                                <th>Commission</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="fetching">
                                <td colspan="5">
                                    <div class="d-flex justify-content-center w-100" >
                                        <div class="spinner-border" role="status">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngFor="let service of services">
                                <td>
                                    {{service.nom}}
                                </td>
                                <td>{{service.duree}}</td>
                                <td>{{service.prix | number}}</td>
                                <td>{{service.commission | number}}</td>
                                <td class="d-flex">
                                    <button type="button" class="btn btn-sm btn-primary me-2" data-bs-toggle="modal" data-bs-target="#editEmp" (click)="selectService(service)">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger me-2" data-bs-toggle="modal" data-bs-target="#deleteEmp" (click)="selectService(service)">
                                        <i class="bi bi-trash3-fill"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link">Page:</a></li>
                                <li class="page-item"><a class="page-link" role="button" *ngIf="currentPage - 1 > 0" (click)="paginate(currentPage-1)">{{currentPage - 1}}</a></li>
                                <li class="page-item active"><a class="page-link" role="button" (click)="paginate(currentPage)">{{currentPage}}</a></li>
                                <li class="page-item"><a class="page-link" role="button" *ngIf="currentPage + 1 <= totalPage" (click)="paginate(currentPage+1)">{{currentPage + 1}}</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-group">
        <div class="modal fade" id="ajoutEmp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Ajout Service</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">  
                        <form [formGroup]="serviceForm" (ngSubmit)="addService($event)">
                            <div class="form-group"  *ngIf='this.serviceFormErrorMessage != ""'>
                                <div class="form-control alert alert-danger">
                                    <div>{{this.serviceFormErrorMessage}}</div>
                                </div>
                            </div>
                            <div class="form-group"  *ngIf='this.serviceFormSubmitMessage != ""'>
                                <div class="form-control alert alert-success">
                                    <div>{{this.serviceFormSubmitMessage}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nom">Nom</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="nom"
                                    aria-describedby="nom"
                                    formControlName="nom"
                                    [ngClass]="{ 'is-invalid': submittedService && f['nom'].errors }"
                                />
                                <div *ngIf="submittedService && f['nom'].errors" class="invalid-feedback">
                                    <div *ngIf="f['nom'].errors['required']">Nom requis</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="duree">Duree</label>
                                <input 
                                    type="number"
                                    class="form-control"
                                    id="duree"
                                    aria-describedby="duree"
                                    formControlName="duree"
                                    [ngClass]="{ 'is-invalid': submittedService && f['duree'].errors }"
                                />
                                <div *ngIf="submittedService && f['duree'].errors" class="invalid-feedback">
                                    <div *ngIf="f['duree'].errors['required']">Duree requis</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="prix">Prix</label>
                                <input 
                                    type="number"
                                    class="form-control"
                                    id="prix"
                                    aria-describedby="prix"
                                    formControlName="prix"
                                    [ngClass]="{ 'is-invalid': submittedService && f['prix'].errors }"
                                />
                                <div *ngIf="submittedService && f['prix'].errors" class="invalid-feedback">
                                    <div *ngIf="f['prix'].errors['required']">Prix requis</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="commission">Commission</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    id="commission"
                                    aria-describedby="commission"
                                    formControlName="commission"
                                    [ngClass]="{ 'is-invalid': submittedService && f['commission'].errors }"
                                />
                                <div *ngIf="submittedService && f['commission'].errors" class="invalid-feedback">
                                    <div *ngIf="f['commission'].errors['required']">Commission requis</div>
                                </div>
                            </div>
                            <div class="form-group mt-2">
                                <button 
                                    type="submit" 
                                    class="btn w-100"
                                    [ngClass]="{ 'btn-primary': !submittingService, 'btn-success': submittingService}"
                                >
                                    <div class="spinner-border" role="status" *ngIf="this.submittingService">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    {{ this.createServiceSubmitBtnText }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editEmp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Modification Service</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="serviceForm" (ngSubmit)="editService($event)">
                            <div class="form-group"  *ngIf='this.serviceFormErrorMessage != ""'>
                                <div class="form-control alert alert-danger">
                                    <div>{{this.serviceFormErrorMessage}}</div>
                                </div>
                            </div>
                            <div class="form-group"  *ngIf='this.serviceFormSubmitMessage != ""'>
                                <div class="form-control alert alert-success">
                                    <div>{{this.serviceFormSubmitMessage}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nom">Nom</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="nom"
                                    aria-describedby="nom"
                                    formControlName="nom"
                                    [ngClass]="{ 'is-invalid': submittedService && f['nom'].errors }"
                                />
                                <div *ngIf="submittedService && f['nom'].errors" class="invalid-feedback">
                                    <div *ngIf="f['nom'].errors['required']">Nom requis</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="duree">Duree</label>
                                <input 
                                    type="number"
                                    class="form-control"
                                    id="duree"
                                    aria-describedby="duree"
                                    formControlName="duree"
                                    [ngClass]="{ 'is-invalid': submittedService && f['duree'].errors }"
                                />
                                <div *ngIf="submittedService && f['duree'].errors" class="invalid-feedback">
                                    <div *ngIf="f['duree'].errors['required']">Duree requis</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="prix">Prix</label>
                                <input 
                                    type="number"
                                    class="form-control"
                                    id="prix"
                                    aria-describedby="prix"
                                    formControlName="prix"
                                    [ngClass]="{ 'is-invalid': submittedService && f['prix'].errors }"
                                />
                                <div *ngIf="submittedService && f['prix'].errors" class="invalid-feedback">
                                    <div *ngIf="f['prix'].errors['required']">Prix requis</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="commission">Commission</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    id="commission"
                                    aria-describedby="commission"
                                    formControlName="commission"
                                    [ngClass]="{ 'is-invalid': submittedService && f['commission'].errors }"
                                />
                                <div *ngIf="submittedService && f['commission'].errors" class="invalid-feedback">
                                    <div *ngIf="f['commission'].errors['required']">Commission requis</div>
                                </div>
                            </div>
                            <div class="form-group mt-2">
                                <button 
                                    type="submit" 
                                    class="btn w-100"
                                    [ngClass]="{ 'btn-primary': !submittingService, 'btn-success': submittingService}"
                                >
                                    <div class="spinner-border" role="status" *ngIf="this.submittingService">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    {{ this.editServiceSubmitBtnText }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteEmp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Délétion Service</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div *ngIf="deleteMessage" class="alert alert-danger">{{deleteMessage}}</div>
                        Etes-vous sur de vouloir supprimer le service
                        <table class="table table-bordered">
                            <tbody>
                                <td>{{this.selectedService["nom"]}}</td>
                                <td>{{this.selectedService["duree"]}}</td>
                                <td>{{this.selectedService["prix"] | number}}</td>
                                <td>{{this.selectedService["commission"] | number}}</td>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-danger" (click)="deleteEmp()">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
