<div class="card my-2 py-2 px-4 rdv-card" *ngIf="rdv">
    <div class="d-flex justify-content-between">
        <p class="fw-bold">
            <span class="text-muted ">{{ this.dateDiff(rdv.date) }}</span>
            <br>
            <span class="text-black"><i class="bi bi-calendar"></i> Le {{rdv.date | date: 'd MMM y à h:mm a'}}</span>
        </p>
        <div>
            <button *ngIf="clt" class="btn btn-primary">
                Modifier
            </button>
            <button *ngIf="suividetache" class="btn btn-primary">
                Suivi des taches
            </button>
        </div>
    </div>

    <table class="my-3">
        <tr>
            <td><span class="text-muted fw-bold">Client </span> </td>
            <td>
                <span *ngIf="rdv.client.sexe == 'Homme'">Mr </span>
                <span *ngIf="rdv.client.sexe == 'Femme'">Mme </span>
                {{rdv.client.nom}} {{rdv.client.prenom}}
            </td>
        </tr>
        <tr>
            <td><span class="text-muted fw-bold">Employe </span></td>
            <td>
                {{rdv.employe.nom}} {{rdv.employe.prenom}}
            </td>
        </tr>
        <tr>
            <td><span class="text-muted fw-bold">Services</span></td>
            <td class="py-1">
                <div class="d-flex mb-2">
                    <button *ngFor="let sv of rdv.services" class="fw-bold btn btn-sm btn-warning me-2">{{sv.nom}}</button>
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="text-muted fw-bold">Services Effectué</span></td>
            <td class="py-1">
                <div class="d-flex mb-2">
                    <button  *ngFor="let tf of rdv.tachesEffectue" class="fw-bold btn btn-sm btn-success me-2">{{tf.nom}}</button>
                </div>
            </td>
        </tr>
    </table>

    <!-- <p>
        <span>
            <span class="text-muted fw-bold">Client </span> 
            <span *ngIf="rdv.client.sexe == 'Homme'">Mr </span>
            <span *ngIf="rdv.client.sexe == 'Femme'">Mme </span>
            {{rdv.client.nom}} {{rdv.client.prenom}}
        </span>
        <br>
        <span>
            <span class="text-muted fw-bold">Employe </span>
            {{rdv.employe.nom}} {{rdv.employe.prenom}}
        </span>
    </p> -->

</div>