<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Accueil</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">Contact et Rendez-vous</a></li>
        </ul>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <p>
                <span class="text-white">Ramiarisoa Ravo - ETU003719</span>
                <br>
                <span class="text-white">Randriamampionona Toky Andrianina Lucas - ETU001021</span>
            </p>
        </div>
        <p class="copyright">Company Name © 2018</p>
    </footer>
</div>